* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: #f0f0f0;
}
section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
  margin: 0 auto;
}
section header nav {
  display: flex;
  gap: 21px;
}
section header nav a {
  text-decoration: none;
  color: black;
}
section header div {
  display: flex;
  gap: 19px;
}
section header div button {
  border: 0;
}