* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blue {
  color: blue;
}
.header_box {
  background: #f0f0f0;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    nav {
      display: flex;
      gap: 21px;
      a {
        text-decoration: none;
        color: black;
      }
    }
    div {
      display: flex;
      gap: 19px;
      button {
        border: 0;
      }
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  gap: 71px;
  margin: 0 auto;
  width: 90%;
  .title {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    h1 {
      font-size: 48px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
    }
  }
  .my_wallets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 21px;
    h2 {
      font-size: 24px;
    }
    .wallets {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      div {
        width: 282px;
        height: 160px;
        padding: 19px 23px;
        border-radius: 15px;
        background: linear-gradient(84deg, #d7816a 2.27%, #bd4f6c 92.26%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        p {
          font-size: 24px;
        }
        span {
          font-size: 14px;
        }
      }
      a {
        color: blue;
      }
    }
  }
  .transactions {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 24px;
      margin-bottom: 32px;
    }
    table {
      td {
        padding-block: 12px;
      }
    }
    a {
      color: blue;
      margin-top: 9px;
    }
  }
}

.bg_one {
  background: linear-gradient(84deg, #d7816a 2.27%, #bd4f6c 92.26%);
}

.bg_two {
  background: linear-gradient(84deg, #5f0a87 2.27%, #a4508b 92.26%);
}

.bg_three {
  background: linear-gradient(84deg, #20bf55 2.27%, #01baef 92.26%);
}

.bg_four {
  background: linear-gradient(84deg, #380036 2.27%, #0cbaba 92.26%);
}
.add_button {
  width: 378px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #0047ff;
  border: 0;
  font-size: 16px;
  color: white;
}
